.slds-media__body > div {
    display: inline-block;
}

.slds-media__body > div:not(:last-child) {
    border-right: #979797 1px solid;
}

.slds-media__body > div:last-child {
    margin-left: 5px;
}

.slds-media__body > div > button {
    width: 20px;
    height: 20px;
}

.dcx-tree__item {
    height: 30px;
}

.dcx-tree__item > div {
    margin-top: -7px;
}

.slds-popover__body {
    padding: unset;
    padding: 4px;
}

.slds-popover[c-treeItem_treeItem] {
    box-shadow: black 4px 3px 8px;
    margin-left: 7px;
}

.slds-popover__body[c-treeItem_treeItem] {
    padding: unset;
    padding-top: 5px;
}

.slds-nubbin--left:before,
.slds-nubbin_left:before {
    width: 11px;
    height: 11px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    background-color: inherit;
    top: 59%;
    left: -0.2rem;
    margin-top: -0.5rem;
}

.slds-nubbin--left:after,
.slds-nubbin_left:after {
    width: 11px;
    height: 11px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    background-color: inherit;
    top: 59%;
    left: -0.3rem;
    margin-top: -0.5rem;
}

.slds-modal__content {
    display: flex;
    flex-direction: column;
}

.slds-text-heading--medium,
.slds-text-heading_medium {
    font-size: 16px;
    width: auto;
    float: left;
    color: #555555;
    line-height: 19px;
    height: auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.slds-has-flexi-truncate {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.dcxclick {
    padding-right: 6px;
}

button.nonactive:active {
    border: 0;
    background-color: unset;
    box-shadow: unset;
}

button.nohover:hover {
    background: unset;
}

.slds-tree__item:hover {
    background: none;
}

.slds-has-flexi-truncate {
    margin-right: 1rem;
    flex: none;
}

.slds-tree__item {
    background: unset !important;
    box-shadow: unset !important;
}
[role='treeitem'][aria-selected='true'] > .slds-tree__item {
    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-weight: 600;
    color: #225792;
    text-decoration: none !important;
}
.slds-popover {
    width: unset;
}
