.slds-modal__content {
    flex-direction: column;
    display: flex;
    align-items: baseline;
    box-shadow: none;
}

.slds-modal__content input {
    background-color: #efefef;
}

.slds-modal__header[c-dcx_modal_dcx_modal] {
    border-bottom: #d5d5d5 2px solid;
}
